body {
	margin: 0;
	overflow: hidden;
}

.test {
	text-align: center;
	-webkit-transform: translate3d(-50%, -50%, 0px) rotateX(180deg);
  	-moz-transform: translate3d(-50%, -50%, 0px) rotateX(180deg);
  	-ms-transform: translate3d(-50%, -50%, 0px) rotateX(180deg);
  	-o-transform: translate3d(-50%, -50%, 0px) rotateX(180deg);
  	transform: translate3d(-50%, -50%, 0px) rotateX(180deg);

  	font-size: 50px;
  	font-family: arial;
  	color: white;
  	opacity: 0.5;
  	width: 560px;
  	height: 315px;
}

#gui {
	position: absolute;
	top: 0;
	z-index: 5;
}

.slide {
	width: 1600px !important;
	height: 760px !important;
  color: goldenrod;
  text-align: left;
  font-size: 2.5em;
}

.worldSlide {
  width: 400px !important;
  height: auto;
}
