@keyframes flyin {
  from {
    transform: translateY(-250px);
  }
  to {
    transform: rotateX(120deg);
  }
}
@keyframes lightwall {
  0% {
    opacity: 0;
    width: 0;
  }
  5%, 50% {
    opacity: 1;
    width: 100%;
  }
  100% {
    opacity: 0;
    width: 100%;
  }
}
/*body {
  background: black;
  height: 500px;
  perspective: 100;
  width: 100%;
}*/

/*.tron {
  background-color: black;
  background-image: linear-gradient(0deg, transparent 0px, #00D1FF 2px, transparent 4px), linear-gradient(90deg, transparent 0px, #00D1FF 2px, transparent 4px);
  background-size: 64px 64px;
  height: 200%;
  perspective: 100;
  position: relative;
  transform-origin: center top;
  animation: flyin 1600ms ease-in-out 300ms forwards;
}*/



.tron:before,
.tron:after {
  content: "";
  display: block;
  position: absolute;
  background: #00D1FF;
  height: 15px;
  width: 200px;
  /*transform: rotateX(-10deg);*/
  /*transform: rotate3d(0.17, 0.15, 0.17, 90deg);*/
  opacity: 0;
  top: 182px;
  box-shadow: 0 -5px 15px #00D1FF;
  animation: lightwall 5s ease-in 2000ms forwards;

}

.tron:after {
  right: 0;
  height: 15px;
  top: 363px;
  box-shadow: 0 -10px 50px 2px #00D1FF;
  animation: lightwall 5s ease-in 3200ms;
}
