#mkdnHelp {
	position: absolute;
	font-size: 16px;
	width: 40px;
	height: 40px;
	z-index: 5;
	/*right: 15px;*/
	right: 145px;
	line-height: 40px;
    text-align: center;
    cursor: pointer;
    transition: .4s;
}

#mkdnHelp:hover {
	background-color: #f5f5f5;
	height: 400px;
	width: 300px;
	z-index: 5;
	transition: .4s;
}

.worldSelect {
	top: 15px;

}

/******* World Selection Media *******/
@media ( max-width: 768px ) {
	.worldSelect {
		margin-left: 33% !important;
		position: relative;
    	right: 9px;

	}
}
@media (max-width: 750px) {
	.worldSelect {
		top: -20px;
	}
}
@media (max-width: 859px) {
	.worldSelect {
		margin-left: 33% !important;
	}
}


/********** MKDN Info Bubble Media **********/
@media ( max-width: 655px ) {
	.mkdnButton {
		top: 40px;
	}

}

@media ( max-width: 458px ) {
	.mkdnButton {
		top: 80px;
	}
}



@media (max-width: 400px) {
	.codeInputBox {
		top: 50px;
		position: relative;
	}
	.themeBtn {
		width: 308px !important;
	    top: 28px;
	    position: relative;
	}
	.submitBtn {
		margin-top: 35px;
		width: 308px;
	}
	.worldSelect {
		margin-left: 25% !important;
	}
}



#mkdnInfo {
	transition: .6s;
	z-index: 6;
	padding: 20px;
}

.displayNone {
	display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
	-webkit-animation-duration: .5s;
  	animation-duration: .5s;
  	animation-delay: .2s;
  	-webkit-animation-fill-mode: both;
  	animation-fill-mode: both;
  	-webkit-animation-name: fadeIn;
  	animation-name: fadeIn;
}
